@CHARSET "UTF-8";
body{overflow-x:hidden;width:100%;height:auto;font-family:"闂傚倷娴囬褍霉閻戣棄鏋佸┑鐘宠壘绾捐鈹戦悩鍙夋悙缂佹劖顨嗙换娑㈠箣濞嗗繒浠鹃柣搴㈣壘閸熸挳骞冨Δ鍛櫜閹肩补鍓濋悘宥夋⒑閹惰姤鏁遍柣妤冨█瀵鈽夊Ο閿嬵潔濠殿喗顨呭Λ妤€鈻撻崼鏇熲拺闁荤喐婢樺▓鈺呮煙閸戙倖瀚�", "Microsoft YaHei";}
a:link{
text-decoration:none;
}
a{color:#9f9f9d;font-size:14px;}
.ddd{font-size:12px;}
.main{margin:0 auto;width:99%;clear:both;min-height:0px;}
.wenzi{margin-top:20px;margin-right:auto;margin-left:auto;width:100%;}
.biaoti{margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.jianjiezi{margin-top:20px;margin-right:auto;margin-left:auto;text-align:center;width:220px;}
.anniu{margin-right:auto;margin-left:auto;width:220px;}
.anzhuo{margin-top:30px;float:left;width:220px;height:60px;background:url(http://ww4.sinaimg.cn/bmiddle/0068TJS4gw1eu60rjrv3aj306601o745.jpg) no-repeat;}
.anzhuo1{margin-top:30px;float:left;width:220px;height:60px;background:url(http://ww4.sinaimg.cn/mw690/005uJx3ugw1f0kyzihf5ij306601o3yf.jpg) no-repeat;}
.anzhuo2{margin-top:30px;float:left;width:220px;height:60px;background:url(http://ww2.sinaimg.cn/mw690/005uJx3ugw1f0kyzimzxpj306601o3yf.jpg) no-repeat;}
.app{margin-top:20px;float:left;width:220px;height:60px;background:url(http://ww2.sinaimg.cn/bmiddle/0068TJS4gw1eu60rj3re6j306601owed.jpg) no-repeat;}
.pc{margin-top:20px;float:left;width:220px;height:60px;background:url(http://ww3.sinaimg.cn/bmiddle/0068TJS4gw1eu60rkfgwwj306601o0sl.jpg) no-repeat;}
.mva{margin-top:20px;float:left;width:222px;height:394px;background:url(http://ww1.sinaimg.cn/bmiddle/005uJx3ugw1ezu2dkvvn1j30660ayt9m.jpg) no-repeat;}
.mvb{margin-top:20px;float:left;width:222px;height:394px;background:url(http://ww3.sinaimg.cn/bmiddle/005uJx3ugw1ezu2dl4s5sj30660aymy2.jpg) no-repeat;}
.mvc{margin-top:20px;float:left;width:222px;height:322px;background:url(http://ww3.sinaimg.cn/bmiddle/005uJx3ujw1ezavukykokj306608ydg7.jpg) no-repeat;}
.zi1{margin-top:10px;float:left;text-align:center;width:220px;}
